<%- include('../partials/header.ejs')-%>
<%- include('../partials/navbar.ejs')-%>

<div class="container ">
    <div class="row  content">
     
    <div class="col-md-8 ">
        
       
    <div class=" col-md-12 tab-pane " id="">
    
      <h3 class="col-md-12 register-heading text-white p-5 "><%=sm.fname%> <%=sm.lname%>  </h3>
        <div class="row profile_card">
        <div class="col-md-12">
          <div class="form-group row">
            <strong for="colFormLabel  " class="col-sm-6 col-form-label text-white">Frist Name</strong>
            <div class="col-sm-6">
            <input type="text" id="fname" class="form-control" placeholder="Frist Name *" value="<%=sm.fname%>">
           </div>
           </div>
            <div class="form-group row">
              <strong for="colFormLabel  " class="col-sm-6 col-form-label text-white">List Name</strong>
              <div class="col-sm-6">
              <input type="text" id="lname" class="form-control" placeholder="List Name *" value="<%=sm.lname%>">
             </div>
            </div>
            
        <div class="form-group row">
          <strong for="colFormLabel  " class="col-sm-6 col-form-label text-white">Neue E-Mail-Adresse</strong>
          <div class="col-sm-6">
            <input type="email" id="emailInp" class="form-control" placeholder="Email *" value="<%=sm.email%>" />
         </div>
      </div>
      <div class="form-group row">
        <strong for="colFormLabel  " class="col-sm-6 col-form-label text-white">Neue E-Mail-Adresse wiederholen</strong>
        <div class="col-sm-6">
          <input type="email" id="reEmailInp" class="form-control" placeholder="Email *" value="" />
       </div>
      </div>
      <div class="form-group row">
        <strong for="colFormLabel  " class="col-sm-6 col-form-label text-white">Neues Passwort</strong>
        <div class="col-sm-6">
          <input type="password" id="passInp" class="form-control" placeholder="Password *" value="" />
       </div>
      </div>
      <div class="form-group row">
        <strong for="colFormLabel  " class="col-sm-6 col-form-label text-white">Neues Passwort wiederholen</strong>
        <div class="col-sm-6">
          <input type="password" id="repassInp" class="form-control" placeholder="Confirm Password *" value="" />
       </div>
      </div>
      <div class="form-group row">
        <strong for="colFormLabel  " class="col-sm-6 col-form-label text-white"></strong>
        <div class="col-sm-6 p-2 d-flex">
          <input type="submit" class="pager btn btn-primary p-2 d-flex" id="registerBtn" value="Neue data speichern" />
       </div>
      </div>
        </div>
        
        
    
    
   
    

    
    </div>
    </div>
    </div>
    </div>


<!-- modul -->
<div class="modal modal fade" tabindex="-1" role="dialog" id="resultModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  


<%- include('../partials/footer.ejs')-%>
<script>
 
document.querySelector('#registerBtn').addEventListener('click',(e)=>{
           e.preventDefault()
           const fname =document.querySelector('#fname').value.trim()
           if (!fname) {
            showModal(true, 'k Frist Name is empty', ' Frist Name should not be empty')
           
            return
        }
        const lname =document.querySelector('#lname').value.trim()
           if (!lname) {
            showModal(true, 'k List Name is empty', ' List Name should not be empty')
           
            return
        }
        const email =document.querySelector('#emailInp').value.trim()
           if (!email) {
            showModal(true, 'k Email is empty', ' Email should not be empty')
           
            return
        }
        const reEmail =document.querySelector('#reEmailInp').value.trim()
           if (!email) {
            showModal(true, 'k Email is empty', ' Email wiederholen should not be empty')
           
            return
        }
        const password =document.querySelector('#passInp').value.trim()
           if (!password) {
            showModal(true, 'k password is empty', ' password  should not be empty')
           
            return
        }
        const repassword =document.querySelector('#repassInp').value.trim()
           if (!password) {
            showModal(true, 'k repassword is empty', ' repassword  should not be empty')
           
            return
        }
        if (fname&&lname&&password&& password ==repassword) {
          const fd =new FormData()
          fd.append('newfname',fname)
          fd.append('newfname',fname)
          fd.append('newlname',lname)
          fd.append('newemail',email)
          fd.append('password',password)
          fd.append('repassword',repassword)
          fd.append('userId',' <%=sm._id%>')
         
          fetch('/admin/edit-data', {
          method:'POST',
          body:fd,
     
        }).then(response => {
        if (response.status ==200) {
              response.json().then(data =>{
                  console.log(data);
                  if (data === 1) {
                        showModal(false, 'success update', 'your book updated successfuly')
                        window.location = '/admin/product'
                    } else {
                        showModal(true, ' server error', 'call the admin because of this error')
                    }
                }).catch(error => {
                    showModal(true, ' server error', 'call the admin because of this error')
                })
            } else {
                showModal(true, 'Error', 'can not send the data')
            }
        }).catch(error => {
            showModal(true, 'Error', 'can not send the data')
         
        })

          
          
        } else {
          showModal(true, "missing ertries", "you miss some entries or your password does not match repassword")
        }
         

        
})
</script>