<%- include('./partials/header.ejs')-%>
<%- include('./partials/navbar.ejs')-%>

<div class="container-fluid">

    <div class="row  ">
        
        <div class="col-sm-12  col-md-3 col-lg-2  p-2  pl-3 bg-dark text-white katigr">
            <div id="list-example" class="list-group ">
                <a class="list-group-item list-group-item-action pt-3 mb-3 bg-dark text-white" href="/"> All Kategorien</a>

                
                <% const allKat =  allproduct.map((item)=>{%>
                    <%return item.kategorie%>

               <%})  %>
               <% const distinctKategorie = [...new Set(allKat)]  %>
              
                <%for (let i = 0; i < distinctKategorie.length; i++){%>
                    
                <a class="list-group-item list-group-item-action  p-3 bg-dark text-white" href="/katergorie/<%= distinctKategorie[i]%>"><%= distinctKategorie[i]%></a>
                <%}%>
            </div>
        
        </div>
    
        <div class="row  p-1 col-sm-12 col-md-9 col-lg-10 pl-1 ">
           
        <div class=" p-1 bg-dark p-3 ml-3 pl-2  font-weight-bold text-white pargraf">   
            <h2 class="d-flex justify-content-center my">Willkommen bei Kleinanzeigen </h2>  Wir sind ein kostenloser Service, um Ihre Anzeigen zu vermarkten oder nach Ihren Interessen zu suchen. Sie können sich einfach auf der Website  <a class="" href="/register">Registrieren</a> </div>
           <%for (let i = 0; i < allproduct.length; i++){%>
        <div class="col-sm-12 col-md-6 col-lg-3 p-4 ">
            <div class="product-grid5 list-group">
                <div class="product-grid5">
                    <div class="product-image5 ">
                        <a href="product-single/<%= allproduct[i].title.trim().replace(/ /g, '_')%>/<%= allproduct[i].id%>">
                            <img class="pic-1" src="<%= allproduct[i].imgs[0]%>" alt="img">
                            <img class="pic-2" src="<%= allproduct[i].imgs[1]%>" alt="img">
                        </a>
                        <ul class="social">
                            <li class="text-white"><%= allproduct[i].preis%> E</li>
                            <!-- <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li> -->
                        </ul>
                        <a href="product-single/<%= allproduct[i].title.trim().replace(/ /g, '_')%>/<%= allproduct[i].id%>" class="select-options"><i class="fa fa-arrow-right"></i> Siehe Einzelheiten</a>
                    </div>
                    <div class="product-content par">
                        
                        <h3 class="title text-white"><a href="product-single/<%= allproduct[i].title.trim().replace(/ /g, '_')%>/<%= allproduct[i].id%>"><%= allproduct[i].title%></a></h3>
                        
                        <p class="par text-white"><%= allproduct[i].state%></p>
                        <p class="par text-white"><%= allproduct[i].straße%><%= allproduct[i].zip%>  </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <%}%>
        
        </div>
    </div>  
    <div class="row">
        <div class="col-12 mt-4">
         <nav aria-label="...">

             <ul class="pagination pagination-lg  justify-content-center">
                 <%for (let i = 0; i < allproduct.length; i++){%>
                 
               <li class="page-item"><a class="page-link" href="/home/<%= i%>"><%= i%></a></li>
               <%}%>
             </ul>
             
           </nav>
        </div>

     </div>  
</div>                                 

<%- include('./partials/footer.ejs')-%>
 